BasedOnStyle: google
PointerAlignment: Left
ColumnLimit: 120

BinPackArguments: false
BinPackParameters: false

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
