BasedOnStyle: google
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
